body {
  background-color: rgb(88, 115, 189);
  width: 300px;
}
p {
    color: rgb(255, 255, 255);
    font-family: 'Dosis', sans-serif;
    font-size:small;
    font-style: italic;
}
h3 {
    color:rgb(255, 255, 255);
    font-family: 'Dosis', sans-serif;
    font-size:large;
    
}

#addWord {
    font-family: 'Dosis', sans-serif;
}

#addthis {
    font-family: 'Dosis', sans-serif;
}

#removeword {
    font-family: 'Dosis', sans-serif;
}

#thisword {
    font-family: 'Dosis', sans-serif;
}